@import './variables.scss';

.sw-btn {
    padding: 18px;
    text-decoration: none;
    border: none;
    color: #FFFFFF;
    border-radius: 50px;
    transition: 0.3s linear;
    cursor: pointer;
    &:hover {
        box-shadow: 0 2px lightgrey;
    }
    &.sw-btn-prim {
        background-color: $primary-color;
        transition: 0.25s linear;
    }
    &:hover.sw-btn-prim {
        background-color: $primary-color-light;
    }
    &.sw-btn-success {
        background-color: $secondary-color;
        transition: 0.25s linear;
    }
    &:hover.sw-btn-success {
        background-color: $secondary-color-light;
    }
    &.sw-btn-err {
        background-color: $third-color;
        transition: 0.25s linear;
    }
    &:hover.sw-btn-err {
        background-color: $third-color-light;
    }
    &.sw-btn-warn {
        background-color: $fourth-color;
        transition: 0.25s linear;
    }
    &:hover.sw-btn-warn {
        background-color: $fourth-color-light;
    }
    &.inv {
        background-color: #FFFFFF;
        transition: 0.25s linear;
        border: 1px solid;
    }
    &:hover.sw-btn-prim.inv, &:hover.sw-btn-success.inv, &:hover.sw-btn-err.inv, &:hover.sw-btn-warn.inv {
        color: #FFFFFF;
    }
    &.sw-btn-prim.inv {
        color: $primary-color;
    }
    &.sw-btn-success.inv {
        color: $secondary-color;
    }
    &.sw-btn-err.inv {
        color: $third-color;
    }
    &.sw-btn-warn.inv {
        color: $fourth-color;
    }
}
// Buttons with animation from left to right
.sw-btn-lr {
    position: relative;
    width: fit-content;
    .layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: red;
        border-radius: 50px;
    }
}
// Links
.sw-link {
    position: relative;
    width: fit-content;
    cursor: pointer;
    a, a:visited, a:hover {
        text-decoration: none;
    }
    &.top .layer {
        position: absolute;
        top: -0.5em;
        height: 15%;
        width: 0;
        transition: 0.3s linear;
    }
    &.bottom .layer {
        position: absolute;
        bottom: -0.5em;
        height: 15%;
        width: 0;
        transition: 0.3s linear;
    }
    &.right .layer {
        position: absolute;
        right: -0.5em;
        height: 0;
        width: 2.6%;
        transition: 0.3s linear;
    }
    &.left .layer {
        position: absolute;
        left: -0.5em;
        height: 0;
        width: 2.6%;
        transition: 0.3s linear;
    }
    &:hover.top .layer, &:hover.bottom .layer {
        width: 100%;
    }
    &:hover.left .layer, &:hover.right  .layer {
        height: 100%;
    }
    &.sw-link-prim {
        color: $primary-color;
        .layer {
            background-color: $primary-color;
        }
    }
    &.sw-link-success {
        color: $secondary-color;
        .layer {
            background-color: $secondary-color;
        }
    }
    &.sw-link-err {
        color: $third-color;
        .layer {
            background-color: $third-color;
        }
    }
    &.sw-link-warn {
        color: $fourth-color;
        .layer {
            background-color: $fourth-color;
        }
    }
    // Link with all borders
    &.all {
        & > div {
            background-color: $primary-color;
        }
        .tl {
            position: absolute;
            top: -0.5em;
            height: 15%;
            width: 0;
            transition: 0.3s linear;
        }
        .bl {
            position: absolute;
            bottom: -0.5em;
            height: 15%;
            width: 0;
            transition: 0.3s linear;
        }
        .rl {
            position: absolute;
            right: -0.5em;
            height: 0;
            width: 2.6%;
            transition: 0.3s linear;
        }
        .ll {
            position: absolute;
            left: -0.5em;
            height: 0;
            width: 2.6%;
            transition: 0.3s linear;
        }
    }
    &.all:hover {
        .tl, .bl {
            width: 100%;
        }
        .rl, .ll {
            height: 100%;
        }
    }
    &.sw-link-prim.all {
        & > div {
            background-color: $primary-color;
        }
    }
    &.sw-link-success.all {
        & > div {
            background-color: $secondary-color;
        }
    }
    &.sw-link-err.all {
        & > div {
            background-color: $third-color;
        }
    }
    &.sw-link-warn.all {
        & > div {
            background-color: $fourth-color;
        }
    }
}