// COLORS
$primary-color: #054549;
$primary-color-light: rgba(5, 69, 73, 0.7);
$secondary-color: #0BC7B1;
$secondary-color-light: rgba(11, 199, 177, 0.7);
$third-color: #F25652;
$third-color-light: rgba(242, 86, 82, 0.7);
$fourth-color: #D9BB74;
$fourth-color-light: rgba(217, 187, 116, 0.7);

$light-grey: #F4F4F4;