.st-btn {
  padding: 18px;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
  border-radius: 50px;
  transition: 0.3s linear;
  cursor: pointer; }
  .st-btn:hover {
    box-shadow: 0 2px lightgrey; }
  .st-btn.st-btn-prim {
    background-color: #054549;
    transition: 0.25s linear; }
  .st-btn:hover.st-btn-prim {
    background-color: rgba(5, 69, 73, 0.7); }
  .st-btn.st-btn-success {
    background-color: #0BC7B1;
    transition: 0.25s linear; }
  .st-btn:hover.st-btn-success {
    background-color: rgba(11, 199, 177, 0.7); }
  .st-btn.st-btn-err {
    background-color: #F25652;
    transition: 0.25s linear; }
  .st-btn:hover.st-btn-err {
    background-color: rgba(242, 86, 82, 0.7); }
  .st-btn.st-btn-warn {
    background-color: #D9BB74;
    transition: 0.25s linear; }
  .st-btn:hover.st-btn-warn {
    background-color: rgba(217, 187, 116, 0.7); }
  .st-btn.inv {
    background-color: #FFFFFF;
    transition: 0.25s linear;
    border: 1px solid; }
  .st-btn:hover.st-btn-prim.inv, .st-btn:hover.st-btn-success.inv, .st-btn:hover.st-btn-err.inv, .st-btn:hover.st-btn-warn.inv {
    color: #FFFFFF; }
  .st-btn.st-btn-prim.inv {
    color: #054549; }
  .st-btn.st-btn-success.inv {
    color: #0BC7B1; }
  .st-btn.st-btn-err.inv {
    color: #F25652; }
  .st-btn.st-btn-warn.inv {
    color: #D9BB74; }

.st-btn-lr {
  position: relative;
  width: fit-content; }
  .st-btn-lr .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50px; }

.st-link {
  position: relative;
  width: fit-content;
  cursor: pointer; }
  .st-link a, .st-link a:visited, .st-link a:hover {
    text-decoration: none; }
  .st-link .layer {
    position: absolute;
    bottom: -0.5em;
    height: 15%;
    width: 0;
    transition: 0.3s linear; }
  .st-link:hover .layer {
    width: 100%; }
  .st-link.st-link-prim {
    color: #054549; }
    .st-link.st-link-prim .layer {
      background-color: #054549; }
  .st-link.st-link-success {
    color: #0BC7B1; }
    .st-link.st-link-success .layer {
      background-color: #0BC7B1; }
  .st-link.st-link-err {
    color: #F25652; }
    .st-link.st-link-err .layer {
      background-color: #F25652; }
  .st-link.st-link-warn {
    color: #D9BB74; }
    .st-link.st-link-warn .layer {
      background-color: #D9BB74; }
