.sw-btn {
  padding: 18px;
  text-decoration: none;
  border: none;
  color: #FFFFFF;
  border-radius: 50px;
  transition: 0.3s linear;
  cursor: pointer;
}

.sw-btn:hover {
  box-shadow: 0 2px lightgrey;
}

.sw-btn.sw-btn-prim {
  background-color: #054549;
  transition: 0.25s linear;
}

.sw-btn:hover.sw-btn-prim {
  background-color: rgba(5, 69, 73, 0.7);
}

.sw-btn.sw-btn-success {
  background-color: #0BC7B1;
  transition: 0.25s linear;
}

.sw-btn:hover.sw-btn-success {
  background-color: rgba(11, 199, 177, 0.7);
}

.sw-btn.sw-btn-err {
  background-color: #F25652;
  transition: 0.25s linear;
}

.sw-btn:hover.sw-btn-err {
  background-color: rgba(242, 86, 82, 0.7);
}

.sw-btn.sw-btn-warn {
  background-color: #D9BB74;
  transition: 0.25s linear;
}

.sw-btn:hover.sw-btn-warn {
  background-color: rgba(217, 187, 116, 0.7);
}

.sw-btn.inv {
  background-color: #FFFFFF;
  transition: 0.25s linear;
  border: 1px solid;
}

.sw-btn:hover.sw-btn-prim.inv,
.sw-btn:hover.sw-btn-success.inv,
.sw-btn:hover.sw-btn-err.inv,
.sw-btn:hover.sw-btn-warn.inv {
  color: #FFFFFF;
}

.sw-btn.sw-btn-prim.inv {
  color: #054549;
}

.sw-btn.sw-btn-success.inv {
  color: #0BC7B1;
}

.sw-btn.sw-btn-err.inv {
  color: #F25652;
}

.sw-btn.sw-btn-warn.inv {
  color: #D9BB74;
}

.sw-btn-lr {
  position: relative;
  width: fit-content;
}

.sw-btn-lr .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 50px;
}

.sw-link {
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.sw-link a,
.sw-link a:visited,
.sw-link a:hover {
  text-decoration: none;
}

.sw-link.top .layer {
  position: absolute;
  top: -0.5em;
  height: 15%;
  width: 0;
  transition: 0.3s linear;
}

.sw-link.bottom .layer {
  position: absolute;
  bottom: -0.5em;
  height: 15%;
  width: 0;
  transition: 0.3s linear;
}

.sw-link.right .layer {
  position: absolute;
  right: -0.5em;
  height: 0;
  width: 2.6%;
  transition: 0.3s linear;
}

.sw-link.left .layer {
  position: absolute;
  left: -0.5em;
  height: 0;
  width: 2.6%;
  transition: 0.3s linear;
}

.sw-link:hover.top .layer,
.sw-link:hover.bottom .layer {
  width: 100%;
}

.sw-link:hover.left .layer,
.sw-link:hover.right .layer {
  height: 100%;
}

.sw-link.sw-link-prim {
  color: #054549;
}

.sw-link.sw-link-prim .layer {
  background-color: #054549;
}

.sw-link.sw-link-success {
  color: #0BC7B1;
}

.sw-link.sw-link-success .layer {
  background-color: #0BC7B1;
}

.sw-link.sw-link-err {
  color: #F25652;
}

.sw-link.sw-link-err .layer {
  background-color: #F25652;
}

.sw-link.sw-link-warn {
  color: #D9BB74;
}

.sw-link.sw-link-warn .layer {
  background-color: #D9BB74;
}

.sw-link.all > div {
  background-color: #054549;
}

.sw-link.all .tl {
  position: absolute;
  top: -0.5em;
  height: 15%;
  width: 0;
  transition: 0.3s linear;
}

.sw-link.all .bl {
  position: absolute;
  bottom: -0.5em;
  height: 15%;
  width: 0;
  transition: 0.3s linear;
}

.sw-link.all .rl {
  position: absolute;
  right: -0.5em;
  height: 0;
  width: 2.6%;
  transition: 0.3s linear;
}

.sw-link.all .ll {
  position: absolute;
  left: -0.5em;
  height: 0;
  width: 2.6%;
  transition: 0.3s linear;
}

.sw-link.all:hover .tl,
.sw-link.all:hover .bl {
  width: 100%;
}

.sw-link.all:hover .rl,
.sw-link.all:hover .ll {
  height: 100%;
}

.sw-link.sw-link-prim.all > div {
  background-color: #054549;
}

.sw-link.sw-link-success.all > div {
  background-color: #0BC7B1;
}

.sw-link.sw-link-err.all > div {
  background-color: #F25652;
}

.sw-link.sw-link-warn.all > div {
  background-color: #D9BB74;
}
.sw-card-fbg {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sw-card-fbg .sw-card-fbg-bglayer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.sw-card-fbg .sw-card-fbg-img {
  max-width: 100%;
  transition: 0.2s linear;
  z-index: 0;
}

.sw-card-fbg:hover .sw-card-fbg-img {
  transform: scale(1.2);
}

.sw-card-fbg .sw-card-fbg-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #FFFFFF;
  text-align: center;
  width: 80%;
  z-index: 2;
}

.sw-card-fbg .sw-card-fbg-body .sw-card-fbg-title {
  border-bottom: 3px solid orange;
  width: fit-content;
  margin: 0 auto;
}

.sw-card-fbg .sw-card-fbg-body .sw-card-fbg-text {
  margin-bottom: 35px;
}
